In [1]:
#importing module
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to C:\Users\Gurjeet
[nltk_data]     Singh\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
#importing csv file
df=pd.read_csv('data.csv')
df.head()

   Unnamed: 0                                        description
0           0                                           HINDUTVA
1           1  A Software Engineer passionate about building ...
2           2  Yoga sloka meditation rajinikanth illayaraja a...
3           3  üáÆüá≥... India muslimüáÆüá≥\nproud to be muslim Alham...
4           4  ‡§™‡§∞‡§Ç ‡§µ‡•à‡§≠‡§µ‡§Ç ‡§®‡•á‡§§‡•Å‡§Æ‡•á‡§§‡§§‡•ç ‡§∏‡•ç‡§µ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡§Æ‡•ç\n‡§∏‡§Æ‡§∞‡•ç‡§•‡§æ ‡§≠‡§µ‡§§‡•ç‡§µ...

In [3]:
#renaming the Unnamed: 0 column
df.rename(columns={'Unnamed: 0':'index'}, inplace=True )
df.head()

   index                                        description
0      0                                           HINDUTVA
1      1  A Software Engineer passionate about building ...
2      2  Yoga sloka meditation rajinikanth illayaraja a...
3      3  üáÆüá≥... India muslimüáÆüá≥\nproud to be muslim Alham...
4      4  ‡§™‡§∞‡§Ç ‡§µ‡•à‡§≠‡§µ‡§Ç ‡§®‡•á‡§§‡•Å‡§Æ‡•á‡§§‡§§‡•ç ‡§∏‡•ç‡§µ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡§Æ‡•ç\n‡§∏‡§Æ‡§∞‡•ç‡§•‡§æ ‡§≠‡§µ‡§§‡•ç‡§µ...

In [4]:
#cheching null values
df.isnull().sum()

index            0
description    303
dtype: int64

In [5]:
#dropping null values
df.dropna(inplace=True)

In [6]:
sentiments = SentimentIntensityAnalyzer()
df["Positive"] = [sentiments.polarity_scores(i)["pos"] for i in df["description"]]
df["Negative"] = [sentiments.polarity_scores(i)["neg"] for i in df["description"]]
df["Neutral"] = [sentiments.polarity_scores(i)["neu"] for i in df["description"]]
df['Compound'] = [sentiments.polarity_scores(i)["compound"] for i in df["description"]]
df.head()

,index,description,Positive,Negative,Neutral,Compound
0,0,HINDUTVA,0.000,0.0,1.000,0.0000
1,1,A Software Engineer passionate about building ...,0.313,0.0,0.687,0.7494
2,2,Yoga sloka meditation rajinikanth illayaraja a...,0.205,0.0,0.795,0.4767
3,3,üáÆüá≥... India muslimüáÆüá≥\nproud to be muslim Alham...,0.237,0.0,0.763,0.4767
4,4,‡§™‡§∞‡§Ç ‡§µ‡•à‡§≠‡§µ‡§Ç ‡§®‡•á‡§§‡•Å‡§Æ‡•á‡§§‡§§‡•ç ‡§∏‡•ç‡§µ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡§Æ‡•ç\n‡§∏‡§Æ‡§∞‡•ç‡§•‡§æ ‡§≠‡§µ‡§§‡•ç‡§µ...,0.178,0.0,0.822,0.5696

In [7]:
score = df["Compound"].values
sentiment = []
for i in score:
    if i >= 0.05 :
        sentiment.append('Positive')
    elif i <= -0.05 :
        sentiment.append('Negative')
    else:
        sentiment.append('Neutral')
df["Sentiment"] = sentiment
df.head()

,index,description,Positive,Negative,Neutral,Compound,Sentiment
0,0,HINDUTVA,0.000,0.0,1.000,0.0000,Neutral
1,1,A Software Engineer passionate about building ...,0.313,0.0,0.687,0.7494,Positive
2,2,Yoga sloka meditation rajinikanth illayaraja a...,0.205,0.0,0.795,0.4767,Positive
3,3,üáÆüá≥... India muslimüáÆüá≥\nproud to be muslim Alham...,0.237,0.0,0.763,0.4767,Positive
4,4,‡§™‡§∞‡§Ç ‡§µ‡•à‡§≠‡§µ‡§Ç ‡§®‡•á‡§§‡•Å‡§Æ‡•á‡§§‡§§‡•ç ‡§∏‡•ç‡§µ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡§Æ‡•ç\n‡§∏‡§Æ‡§∞‡•ç‡§•‡§æ ‡§≠‡§µ‡§§‡•ç‡§µ...,0.178,0.0,0.822,0.5696,Positive

In [9]:
print(df["Sentiment"].value_counts())

Neutral     413
Positive    234
Negative     50
Name: Sentiment, dtype: int64

In [10]:
df.to_csv('cleaned_data.csv')